html,
body {
  background-color: #333;
  background-image: url("../images/space-galaxy.jpg");
  height: 100%;
}
body {
	color: #FFF;
	text-align: center;
}

header {
	padding: 90px;
}

h1 {
	font-family: 'Rock Salt', cursive, sans-serif;
	font-weight: 400;
	font-size: 45px;
}

.form-control {
	opacity: .8;
	background-color: #F3B8FA;
	color: #222;
	border-color: #812D6B;
	margin-top: 100px;
	text-align: center;
	font-size: 20px;
}

.btn {
	margin-top: 20px;
	background-color: #22205A;
	border-color: #4F2360;
	opacity: .9;
	font-style: bold;
}


.user, #blurb {
	font-size: 18px;
	font-family: Times, serif;
	font-style: bold;
}
.well-sm {
   background-color: rgba(245, 245, 245, 0.3);
   color: #FFF;
	padding: 10px;
    margin: 10px 180px 10px 180px;
    border: none;
    border-radius: 30px;
}
#name {
	font-family: 'Rock Salt', cursive, sans-serif;
	font-size: 30px;

}
.symbols {
	font-size: 80px;
	color: #F7F7F6;
	opacity: .2;
	
}

